<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome page</title>
  </head>
  <body>
    {{> header}}
    <text>{{screamIt welcomeText}}</text>

    {{> footer}}
  </body>
</html>
